[submodule "stanbridge-challenge-backend"]
	path = stanbridge-challenge-backend
	url = https://github.com/garaekz/stanbridge-challenge-backend.git
[submodule "stanbridge-challenge-frontend"]
	path = stanbridge-challenge-frontend
	url = https://github.com/garaekz/stanbridge-challenge-frontend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/garaekz/stanbridge-challenge-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/garaekz/stanbridge-challenge-backend.git
