[submodule "frontend"]
	path = frontend
	url = https://github.com/garaekz/stanbridge-challenge-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/garaekz/stanbridge-challenge-backend.git
